<header class="text-white">
    <nav class="navbar autosense-navbar navbar-expand-lg">
      <div class="container navbar-container">
        <a class="navbar-brand" href="https://www.autosense.ch/">
          <img src="./assets/images/logo.gif" alt="logo" class="img-fluid" width="100">
        </a>

        <button class="navbar-toggler mt-1 mobile-sidebar collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse bg-color" id="navbarSupportedContent">
          <ul class="navbar-nav autosense w-100 mb-2 mb-lg-0 justify-content-lg-end">
            <li class="nav-item">
              <a class="nav-link" href="https://www.autosense.ch/mobile-app">Mobile App</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>